<div *ngIf="product.title" class="card">
    <img class="card-img-top" src="{{ product.imageUrl }}" alt="{{ product.title }}" *ngIf="product.imageUrl">
    <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.price | currency:'USD':code}}</p>
        <p class="card-text">{{ product.shop }}</p>
    </div>
    <div *ngIf="showActions" class="card-footer">
        <button *ngIf="getInCompare()===0; else removeCompare" (click)="addToCompare()" class="btn btn-success btn-block">
            <i class="fa fa-plus fa-lg"></i>            
            Add to Compare</button>

        <ng-template #removeCompare>
            <button (click)="removeFromCompare()" class="btn btn-danger btn-block">
                <i class="fa fa-minus fa-lg"></i>            
                Remove from Compare</button>
        </ng-template>        
    </div>
</div>