<div class="row">
    <div class="col-md-3">
        <div class="sticky-filter">
            <product-filter [category]="category"></product-filter>
        </div>        
    </div>

    <div class="col-md-9 col-sm-12">
        <!-- memory: no-gutters-->
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">                
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="container-fluid">
                        <product-card [product]="p" [compare-cart]="cart$ | async"></product-card>
                    </div>
                </div>                
            </ng-container>
        </div>
    </div>
</div>